<!DOCTYPE html>
<html>
    <head>
        <link href='http://fonts.googleapis.com/css?family=Rock+Salt' rel='stylesheet' type='text/css'>
    </head>
    <body>
        <h1 style="font-family: 'Rock Salt', cursive;">JustPublish.org</h1>
        
        <p>
            Every content at JustPublish.org is protected with it's own secret key. You can share this key with your friends to allow
            them to edit and contribute to content you created and published. 
        </p>
        
        <p>
            Your secret key to edit <strong><a href="{{ location }}">{{ location }}</a></strong> in the future is <strong>{{ secret }}</strong>
        </p>

        <p>Here is a link where you can edit your content: <a href="{{ edit }}">{{ edit }}</a></p>
        
        <p>
            All content at JustPublish.org is published for 7 days by default, but you can click on the following link within 7 days if you wan't
            your content to stay published permanently.
        </p>
        
        <p>
            <a href="{{ activation }}">Click me to permanently publish your content</a>
        </p>
        
        <p>
            Thank you.
        </p>
    </body>
</html>
